@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: dodgerblue;
}

/* Utility classes */
.btn {
  padding: 15px 65px;
  border: none;
  border-radius: 2px;
}

.btn-primary {
  padding: blue;
}

.page-container {
  margin-top: 57px;
}

/* Pokemon List ul element */
.pokemon-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

/* Pokemon List ul button element */
.pokemon-list li button {
  width: 220px;
  height: 220px;
  font-size: 20px;
  border-radius: 15px;
  margin: 20px;
  border: none;
  color: gold;
  cursor: pointer;
  transition: all .5s ease;
  background: var(--primary-color);
}

.pokemon-list li button:hover {
  transform: translateY(-10px);
}

/* Positioning of the Modal content  */
.modal-img {
  width: 150px;
  float: right;
}

/* ToTop Scroll Button */
.to-top {
  position: fixed;
  top: 150px;
  right: 30px;
  overflow: auto;
  cursor: pointer;
}

.to-top img {
  width: 50px;
  z-index: 999;
}
